body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0px;
    text-align: left;
    font-size: 100%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(8, 51, 243);
    background-color: rgb(234, 0, 255);
}
